{% extends 'base.html' %}
{% block title %}
Edit BO Services - {{ block.super }}
{% endblock title %}

{% block content %}

<h1>Edit "{{ memcache_item.i_name }}"</h1>
    <form role="form" action="" method="post">
    {% csrf_token %}
    {{ form.as_ul}}
{#        <div class="btn btn--border btn--primary btn--animated">#}
{#             <button type="submit">Submit</button>#}
{#        </div>#}

    <button  class="btn btn--border btn--primary btn--animated" type="submit">Submit</button>
    </form>

{% endblock content %}