{% extends 'base.html' %}
{% block title %}
List BO Services - {{ block.super }}
{% endblock title %}

{% block content %}

<h1>Please choose one services  ...</h1>
    {% for social_item in social_items %}
    <ul>

{#    <li>#}


{#  <div class="row">#}
{#    <div class="large-12 columns">#}
{#      <div class="wrapper">#}
        <div class="btn btn--border btn--primary btn--animated">
        <a class="btn-draw" href={% url 'social_item_detail' name=social_item.i_name %}> {{ social_item.i_name }}
    </a></div>
{#      </div>#}
{#    </div>#}
{#  </div>#}

{#         <a  href={% url 'bo_item_detail' name=bo_item.i_name %}> {{ bo_item.i_name }}#}
{#    </a>#}


{#       </li>#}

    </ul>
{#        <ul>#}
{##}
{#  <button class="btn btn-reverse btn-arrow" onclick="location.href='http://127.0.0.1:8000/{{ item }}/'">#}
{#    <span>{{ item.c_name }}<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 36.1 25.8" enable-background="new 0 0 36.1 25.8" xml:space="preserve"><g><line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" x1="0" y1="12.9" x2="34" y2="12.9"></line><polyline fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" points="22.2,1.1 34,12.9 22.2,24.7   "></polyline></g></svg></span>#}
{#  </button>#}
{##}
{#</ul>#}
    {% endfor %}
{% endblock content %}